/*!
Theme Name: autoexpo
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: autoexpo
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

autoexpo is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	margin: 0;
	background: #fff;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	display: block;
	width: 100%;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 0;
	padding: 0 5px;
	height: 32px;
	line-height: 32px;
	font-size: 16px !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	background-image: url(https://expo.baccredomatic.com/wp-content/uploads/2019/06/drop-icon.png);
	background-repeat: no-repeat;
	background-position: 98% center;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}


.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}



/* Generales */


* {
	outline: none;
}

html,
body {
	height: 100%;
	background-color: #FAFAFA;
}

#page {
   min-height: 100%;
   position:relative;
}

.site-content {
	padding-bottom: 73px;
}

@media screen and (max-width: 760px) {
	.site-content {
		padding-bottom: 93px;
	}
}

a {
	transition: .3s;
}

.wrap940 {
	width: 100%;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.page-title {
	color: #E4002B;
}

.site-content {
	padding-top: 54px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.title-section {
	color: #E4002B;
	font-family: "Fira Sans";
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
	text-align: center;
}

.title-section-black {
	color: #000;
	font-family: "Fira Sans";
	font-size: 26px;
	font-weight: 500;
	line-height: 38px;
	text-align: left;
}



.margin0 {
	margin: 0 !important;
}

.mbottom75 {
	margin-bottom: 75px;
}

.ptop30 {
	padding-top: 30px;
}

.mtop0 {
	margin-top: 0 !important;
}

.di-block {
	display: inline-block;
}

.pleft30 {
	padding-left: 30px;
}

.pright30 {
	padding-right: 30px;
}

@media screen and (max-width: 760px) {
	.title-section {
		padding: 0 30px;
	}
	.title-section-black {
		padding: 0 30px;
	}
}

.cta {
	display: inline-block;
	width: 100%;
	max-width: 275px;
	height: 55px;
	padding: 0;
	color: #ffffff;
	font-family: "Fira Sans";
	font-weight: 400;
	font-size: 14px;
	line-height: 55px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #E4002B;
	text-decoration: none;
	cursor: pointer !important;
}
	.cta:active,
	.cta:visited,
	.cta:focus {
		color: #fff;
	}

	.cta:hover {
		color: #fff;
	}

.cta-plain {
	display: inline-block;
	width: 100%;
	max-width: 275px;
	height: 55px;
	color: #585757;
	font-family: "Fira Sans";
	font-weight: 400;
	font-size: 14px;
	line-height: 55px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: transparent;
	border: 1px solid #585757;
	text-decoration: none;
}
	.cta-plain:active,
	.cta-plain:visited,
	.cta-plain:focus {
		color: #585757;
	}

	.cta-plain:hover {
		color: #fff;
		background-color: #585757;
	}

.cta-white {
	display: inline-block;
	width: 100%;
	max-width: 275px;
	height: 55px;
	color: #fff;
	font-family: "Fira Sans";
	font-weight: 400;
	font-size: 14px;
	line-height: 55px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: transparent;
	border: 1px solid #fff;
	text-decoration: none;
}
	.cta-white:active,
	.cta-white:visited,
	.cta-white:focus {
		color: #fff;
	}

	.cta-white:hover {
		color: #585757;
		background-color: #fff;
	}

.cta--small {
	width: 170px;
	height: 36px;
	line-height: 36px;
}

.cta--medium {
	width: 100%;
	max-width: 220px;
	height: 36px;
	line-height: 36px;
}

.cta--full {
	width: 100%;
}

.mtop80 {
	margin-top: 80px;
}

.ptop30 {
	padding-top: 30px !important;
}

.mbottom20 {
	margin-bottom: 20px;
}

.mbottom10 {
	margin-bottom: 10px;
}

.mbottom5 {
	margin-bottom: 5px;
}

body.tax-marca {
	background-color: #FAFAFA;
}

@media screen and (max-width: 760px) {
	.small-mbottom20 {
		margin-bottom: 20px;
	}
}




/* Header */



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 54px;
	background-color: #fff;
	box-shadow: 3px 5px 5px rgba(255,255,255,.3);
    z-index: 300;
}
	.header__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

.branding {
    position: relative;
    display: flex;
    padding: 5px 0;
    max-width: 84px;
    align-items: center;
    justify-content: center;
}
	.branding img {
		display: block;
	}

@media screen and (min-width: 1025px) {
	.header-mobile {
		display: none;
	}
}
@media screen and (max-width: 1024px) {
	.header {
		height: 80px;
	}
	.header-web {
		display: none;
	}
	.header-mobile {
		display: flex;
		flex-direction: column;
	}

	.header-mobile .branding {
	    position: relative;
	    display: block;
	    padding: 10px 0 5px;
	    max-width: 90px;
	}

	.header-mobile__bottom {
	    width: 100%;
	    display: flex;
	    flex-wrap: wrap;
	    align-items: center;
	    justify-content: flex-end;
	    padding: 0 20px;
	}
		.header-mobile__bottom ul {
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: right;
		}

		.header-mobile__bottom ul li a  {
			display: block;
			text-decoration: none;
			font-weight: 400;
			color: #4A4A4A;
			font-size: 16px;
			text-transform: uppercase;
			transition: .3s;
			outline: none;
		}
		.header-mobile__bottom ul li a span {
			font-size: 25px !important;
		}

}

#responsive-menu-container #responsive-menu li.responsive-menu-item a {
    border-bottom: 1px solid #e8e8e8 !important;
}

#responsive-menu-container #responsive-menu > li.responsive-menu-item:first-child > a {
    border-top: 1px solid #e8e8e8 !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link {
	font-size: 14px !important;
}

#responsive-menu-container {
	top: 80px !important;
}

/* .responsive-menu-open button#responsive-menu-button .responsive-menu-box {
	color: #fff !important;
}

.responsive-menu-open .responsive-menu-inner, .responsive-menu-open .responsive-menu-inner::before, .responsive-menu-open .responsive-menu-inner::after {
	background-color: #fff!important;
} */

.over-responsive-menu {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.75);
	z-index: 1000;
}





/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	display: block;
	clear: both;
	width: 680px;
}

.main-navigation ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0;
	list-style: none;
	padding-left: 0;
}

.main-navigation li {
	position: relative;
	margin-left: 25px;
}

.main-navigation li ul {
	position: absolute;
    top: 0;
    left: 0;
	display: none;
	width: 190px;
	padding-top: 54px;
    padding-left: 0;
    margin-left: 0;
}
	.main-navigation li ul li {
		margin-left: 0;
	}

.main-navigation li:hover > ul {
	display: block;
}

.main-navigation a {
	display: block;
	height: 52px;
	text-decoration: none;
	font-weight: 400;
	color: #4A4A4A;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 54px;
	border-bottom: 4px solid #fff;
	transition: .3s;
	outline: none;
}
	.main-navigation a:hover {
		border-color: #585757;
	}
	.tax-marca li.menu-item-13 a,
	.single li.menu-item-72 a,
	.main-navigation li.current_page_item a,
	.page-id-461 li.menu-item-469 > a,
	.page-id-471 li.menu-item-469 > a {
	/* .main-navigation li a.mPS2id-clicked,
	.page-id-16 .main-navigation li.menu-item-77 a,
	.main-navigation li.menu-item-455.current_page_item a,
	.main-navigation li.menu-item-466.current_page_item a { */
		border-color: #585757;
		font-weight: bold;
	}

	#menu-item-21 a {
		cursor: pointer;
	}

	#menu-item-21 a span {
		font-size: 20px;
		display: inline-block;
		vertical-align: sub;
		margin-left: 10px;
	}
	.menu-item-21.items-add a span {
		color: #E4002B;
	}

	.main-navigation li:hover > ul li a {
		padding-left: 20px;
		padding-right: 20px;
		border-bottom: 0;
		background-color: #F4F4F4;
	}
	.main-navigation li > ul li a:hover {
		background-color: #e6e6e6
	}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.mobmenu-content {
	padding-left: 30px;
	padding-right: 30px;
}


/* Banner */


.banner {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	height: 245px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
}
	.banner__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.75);
	}
	.banner__content {
		position: relative;
		width: 100%;
		max-width: 940px;
		z-index: 2;
	}
		.banner__content h1 {
			margin: 0;
			color: #ffffff;
			font-family: "Fira Sans";
			font-size: 56px;
			font-weight: 400;
			line-height: 1;
			text-align: right;
		}
		.banner__content p {
			margin: 0;
			font-family: "Fira Sans";
			font-size: 16px;
			font-weight: 400;
			line-height: 19px;
			text-align: right;
			color: #fff;

		}
		.banner__content p img {
			display: inline-block;
		    vertical-align: bottom;
		}
		.banner__content a {
			display: inline-block;
			width: 275px;
			height: 55px;
			color: #ffffff;
			font-family: "Fira Sans";
			font-weight: 400;
			font-size: 14px;
			line-height: 55px;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.1244444px;
			background-color: #E4002B;
			text-decoration: none;
			letter-spacing: 2px;
		}

@media screen and (max-width: 1024px) {
	.banner h1 {
		font-size: 42px;
	}
	.banner__content {
		padding-left: 30px;
		padding-right: 30px;
	}
}


/* Búscador */


.opciones {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
}

.precios {
	width: 510px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.radios {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* flex-direction: row-reverse; */
}
	.radios > span {
		display: inline-block;
		margin-right: 10px;
		font-size: 14px;
		font-weight: bold;
		color: #585757;
	}

	/* .radios > label {
		visibility: hidden;
		pointer-events: none;
	} */

	.radios > label input {
		display: none;
	}

	.radios > label span {
		display: block;
		width: 32px;
		height: 32px;
		margin: 0 0 0 10px;
		line-height: 32px;
		text-align: center;
		font-size: 14px;
		border: 1px solid #585757;
		background-color: #585757;
		color: #fff;
		cursor: pointer;
		border-radius: 100%;
	}

	.radios > label span.active {
		border: 1px solid #E4002B;
		background-color: #E4002B;
	}

.slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 300px;
}

.slider .text {
	border: 0;
	border-bottom: 1px solid rgb(88, 87, 87);
	width: 60px;
	height: 32px;
	outline: none;
	border-radius: 0;
	font-size: 13px;
	text-align: center;
}

.slider .range {
	width: 160px;
}


@media screen and (max-width: 1024px) {
	/* .catalog__header {
		padding-top: 30px!important;
		padding-bottom: 30px!important;
	} */
	.opciones {
		flex-direction: column;
	}
	.catalog__header h2 {
		margin-bottom: 30px !important;
	}
	.dropdowns {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 8px;
	}
	.dropdowns select {
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media screen and (max-width: 760px) {
	.precios {
		width: 100%;
	    flex-direction: column;
	}
	.radios {
		margin-bottom: 25px;
	}
	.dropdowns {
		margin-bottom: 15px;
		flex-direction: column;
	}
}


.price-field {
    position: relative;
    width: 170px;
    height: 36px;
    box-sizing: border-box;
    padding-top: 15px;
	padding-left: 0;
	margin: 0;
    padding: 0;
	display: inline-block;
	padding-top: 25px;
}

.price-field input[type=range] {
    position: absolute
}

.price-field input[type=range] {
    width: 170px;
    height: 2px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    -webkit-appearance: none
}

.price-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none
}

.price-field input[type=range]:active,.price-field input[type=range]:focus {
    outline: 0
}

.price-field input[type=range]::-ms-track {
    width: 188px;
    height: 2px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: 5px
}

.price-field input[type=range]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -4px;
    background-color: #E4002B;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100
}

.price-field input[type=range]::-moz-range-thumb {
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: #E4002B;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100
}

.price-field input[type=range]::-ms-thumb {
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: #E4002B;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100
}

.price-field input[type=range]::-webkit-slider-runnable-track {
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #E4002B;
    border-radius: 5px
}

.price-field input[type=range]::-moz-range-track {
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #E4002B;
    border-radius: 5px
}

.price-field input[type=range]::-ms-track {
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #E4002B;
    border-radius: 5px
}


.dropdowns {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
	.dropdowns select {
		height: 47px;
		width: 165px;
		line-height: 47px;
		border: 0;
		border-bottom: 1px solid #979797;
		color: #979797;
		font-size: 14px;
		font-weight: 400;
		background-color: #fff;
	}





/* Catálogo */



.catalog {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0;
	background-color: #FAFAFA;
}

@media screen and (min-width: 1024px) {
	.catalog {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.catalog.catalog--brand {
		flex-direction: column;
	}
}
	.catalog__left {
		width: 100%;
		max-width: 750px;
	}
	.catalog__right {
		display: none;
	}
	@media screen and (min-width: 1024px) {
		.catalog__right {
			position: -webkit-sticky;
			position: sticky;
			display: block;
			top: 0;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			max-width: 180px;
			padding-top: 90px;
			padding-bottom: 90px;
		}
	}
		.slide-mobile {
			margin: 0;
			padding: 0;
		}
		.promo-block {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 180px;
			background-color: #D8D8D8;
		}
			.promo-block span {
				color: #fff;
				font-size: 22px;
			}
		@media screen and (min-width: 1024px) {
			.promo-block {
				width: 180px;
			}
		}
		@media screen and (max-width: 1023px) {
			.catalog__right .title-section-black {
				padding: 0;
			}
			.catalog__right {
				padding-top: 40px;
			}
		}

		.catalog__right > a,
		.catalog__mobile > a {
			color: #E4002B !important;
			text-decoration: none;
		}

		.view-block-wrapper {
			position: relative;
		}
		@media screen and (max-width: 1023px) {
			.view-block-wrapper {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: space-between;
			}
		}

		.view-block {
			position: relative;
			margin-top: 15px;
		}
		.slide-mobile .slick-slide:first-child {
			padding-left: 40px;
		}
		.slide-mobile .slick-slide {
			margin-right: 20px;
		}
			.view-block img {
				display: block;
				margin-bottom: 15px;
			}
			@media screen and (max-width: 1024) {
				.view-block img {
					height: 85px;
					width: 100%;
					object-fit: cover;
				}
			}
			.view-block h5 {
				margin-bottom: 8px;
				font-size: 14px;
				color: #161616;
				font-weight: 500;
			}
			.view-block a {
				position: absolute;
				width: 100%;
				height: 100%;
				display: block;
			}
			.view-block .view-block__link {
				color: #E4002B;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 14px;
			}
				.view-block a:active,
				.view-block a:visited,
				.view-block a:focus {
					text-decoration: none;
					color: #E4002B;
				}

	.catalog__video {
		position: relative;
		width: 100%;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #d8d8d8;
	}
	.catalog__video #video {
		position: relative;
		display: block;
		width: 100%;
	}
	.catalog__video--content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px;
		z-index: 1;
		background-color: rgba(0,0,0,.3);
	}
	@media screen and (min-width: 1024px) {
		.catalog__video--content {
			padding: 110px 80px 80px;
		}
		.catalog__mobile {
			display: none;
		}
	}
		.catalog__video h3 {
			position: relative;
			margin-top: 0;
			margin-bottom: 10px;
			line-height: 26px;
			font-size: 23px;
			font-weight: 500;
			color: #fff;
			z-index: 2;
		}
		.catalog__video p {
			position: relative;
			margin: 0 0 10px 0;
			font-size: 14px;
			color: #fff;
			line-height: 18px;
			z-index: 2;
		}
		.catalog__video a {
			position: relative;
			color: #fff;
			font-size: 14px;
			text-decoration: none;
			font-weight: 400;
			z-index: 2;
		}
		.catalog__video span {
			position: absolute;
			bottom: 20px;
			right: 20px;
			color: #fff;
			z-index: 2;
		}
			.catalog__video a:active,
			.catalog__video a:visited,
			.catalog__video a:focus {
				color: #fff;
			}
	@media screen and (min-width: 1024px) {
		.catalog__video h3 {
			margin-bottom: 25px;
			line-height: 36px;
			font-size: 32px;
		}
		.catalog__video p {
			margin: 0 0 25px 0;
			line-height: 20px;
		}
		.catalog__video a {
			font-size: 19px;
		}
	}

	.catalog__header {
		width: 100%;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    padding-left: 30px;
	    padding-right: 30px;
	    background-color: #fff;
	}
		.catalog__vista360 {
			position: absolute;
			left: 10px;
			top: 10px;
		}
		.archive .catalog__header {
			padding-top: 10px;
			background-color: #fff;
		}

		.catalog__header h2 {
			margin: 0;
			font-size: 32px;
			color: #E4002B;
			font-weight: 600;
		}

	.catalog__content {
		position: relative;
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #FAFAFA;
	}

	.catalog__wrap-items {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		/* justify-content: flex-start; */
		justify-content: center;
	}
		@media screen and (max-width: 1024px) {
			.catalog__wrap-items {
				justify-content: center;
			}
		}

	.catalog__item {
		position: relative;
		width: 300px;
		height: auto;
		margin-bottom: 20px;
		margin-right: 20px;
		background-color: #fff;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
	}
		@media screen and (max-width: 1024px) {
			.catalog__item {
				margin-right: 15px;
				margin-left: 15px;
			}
		}

		@media screen and (min-width: 1024px) {
			.catalog.catalog--brand .catalog__item:nth-child(3n+3) {
				margin-right: 0;
			}
		}

		.catalog__item-header {
			position: relative;
		    height: 190px;
		    text-align: center;
		    padding: 10px 5px 0 5px;
		}
			.catalog__item-header-promo {
				position: absolute;
				top: 5px;
				right: 0;
				background-color: transparent;
				color: #FAFAFA;
				width: 110px;
				height: 25px;
				padding-right: 5px;
				font-size: 10px;
				font-weight: 500;
				line-height: 25px;
				text-align: right;
				background-image: url('/wp-content/themes/autoexpo/images/promo-cintillo.png');
				background-repeat: no-repeat;
				background-position: right center;
				-webkit-background-size: contain;
				background-size: contain;
				text-transform: uppercase;
				letter-spacing: 1px;
			}

		.catalog__item-body {
			padding: 20px;
			padding-top: 10px;
		}
			.catalog__item-body h3 {
				height: 48px;
			    margin-top: 0;
			    margin-bottom: 15px;
			    line-height: 24px;
			    font-size: 20px;
			    font-weight: 500;
			    color: #000000;
			    overflow: hidden;
			}
				.catalog__item-body h3 a {
					color: #000 !important;
					text-decoration: none;
				}

			.catalog__item-body .price {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
				.catalog__item-body .price span {
					display: block;
					font-size: 14px;
					font-weight: 400;
					color: #9B9B9B;
					letter-spacing: .32px;
				}

				.catalog__item-body .buttons {
					display: flex;
					align-items: stretch;
					justify-content: space-between;
					margin-top: 15px;
				}
				.catalog__item-body .buttons a {
					display: block;
					height: 48px;
					width: 50%;
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;
					line-height: 48px;
					font-size: 13px;
					transition: .3s;
				}
				.catalog__item-body .buttons a span {
					font-size: 20px;
					display: inline-block;
					vertical-align: sub;
				}
				.catalog__item-body .buttons a:first-child {
					border: 1px solid #E4002B;
					color: #585757;
					letter-spacing: 1px;
				}
				.catalog__item-body .buttons a:first-child:hover {
					color: #E4002B;
				}

				.my-garage {
					color: #E4002B !important;
				}

				.catalog__item-body .buttons a:last-child {
					background-color: #E4002B;
					color: #fff;
					letter-spacing: 2px;
				}



/* Partners */



.catalog__partners {
	padding-top: 30px;
	padding-bottom: 30px;
}

.catalog__wrap-partners {
	padding: 0 20px;
	/* display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	margin-top: 60px; */
}

.partner__item {
	position: relative;
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 97px;
	height: 97px !important;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3px;
	overflow: hidden;
	border-radius: 100%;
	background-color: #fff;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
	/* -webkit-filter: grayscale(100%); */
	/* filter: grayscale(100%); */
	transition: .3s;
}
	.partner__item:hover {
		/* filter: grayscale(0); */
		box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.2);
	}


	@media screen and (max-width: 760px) {
		.partner__item {
			margin: 10px;
		}
	}

	/* @media screen and (min-width: 761px) {
		.partner__item:nth-child(6n+6) {
			margin-right: 0;
		}
	} */

	.partner__item a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
	}

	.partner__item img {
		max-width: 80px;
		margin: 0 auto;
	}

.slide-partners {
	margin: 0;
	padding: 0;
}

.slide-partners .slick-prev::before,
.slide-partners .slick-next::before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    color: red;
    content: "\e901";
}

.slide-partners .slick-slide {
	padding: 5px 0;
}

.slick-next {
	transform: rotate(175deg);
	margin-top: -10px;
}

.slide-partners .slick-prev,
.slide-partners .slick-next {
	z-index: 10;
}

@media screen and (max-width: 1024px) {
	.slide-partners {
		padding: 0 30px;
	}
	.slide-partners .slick-prev {
		left: 10px;
	}
	.slide-partners .slick-next {
		right: 10px;
	}
}

@media screen and (max-width: 760px) {
	.slide-partners {
		padding: 0 15px;
	}
}

@media (max-device-width: 769px) and (min-device-width: 650px), (max-width: 769px) and (min-width: 650px) and (orientation: landscape) {
	html body.page {
	    width: 100% !important;
	}
}


/* My Cars */



.my-cars {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	background-color: rgba(0,0,0,.35);
}
	.my-cars__wrap {
		position: fixed;
		top: 0;
		right: 0;
		width: 0;
		overflow: hidden;
		height: 100%;
		padding: 30px;
		background-color: #FAFAFA;
		transition-delay: 1s;
		transition: width .3s;
	}
		.my-cars__wrap.my-cars__wrap--open {
			width: 315px;
			overflow-x: visible;
			overflow-y: auto;
		}

	.my-cars__close {
		display: block;
		width: 238px;
		margin-bottom: 40px;
		text-align: right;
	}
		.my-cars__close span {
			color: #E4002B;
			font-size: 14px;
			font-weight: 400;
			cursor: pointer;
		}
		.my-cars__close span span {
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
		}

	.my-cars__wrap h3 {
		margin: 0;
		color: #585757;
		font-size: 24px;
		font-weight: 500;
		text-align: center;
	}

	.my-cars__cars {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin-top: 40px;
	}

	.my-cars__item {
		width: 250px;
		margin-bottom: 20px;
		background-color: #fff;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
	}
		.my-cars__item--header img {
			width: 250px;
			height: 160px;
			object-fit: cover;
		}

		.my-cars__item--body {
			position: relative;
			padding: 15px;
		}

		.my-cars__item--body h3 {
			margin-top: 0;
			margin-bottom: 15px;
			min-height: 48px;
			color: #4A4A4A;
			font-size: 20px;
			font-weight: bold;
			text-align: left;
			line-height: 22px;
		}
			.my-cars__item--body h3 a {
				color: #000 !important;
				text-decoration: none;
			}
		.my-cars__item--body span {
			display: block;
			color: #9B9B9B;
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
		}
		.my-cars__item--footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px;
			border-top: 1px solid #D1D1D1;
		}
			.remove {
				display: block;
				font-size: 14px;
				color: #585757;
				text-transform: uppercase;
				text-decoration: none;
			}
				.remove:active,
				.remove:visited,
				.remove:focus {
					color: #585757;
				}

				.remove:hover {
					color: #585757;
					text-decoration: underline;
				}

			.red {
				display: block;
				font-size: 14px;
				color: #E4002B;
				text-transform: uppercase;
				text-decoration: none;
			}
				.red:active,
				.red:visited,
				.red:focus {
					color: #E4002B;
				}

				.red:hover {
					color: #E4002B;
					text-decoration: underline;
				}




/* Single */


.single .site-main {
	padding-top: 30px;
	padding-bottom: 60px;
	background-color: #FAFAFA;
}

.back {
	display: block;
}
	.back a {
		font-size: 14px;
		color: #E4002B;
		text-transform: uppercase;
		text-decoration: none;
	}
	.back a span {
		display: inline;
	    vertical-align: text-bottom;
	    margin-right: 10px;
	    font-size: 22px;
	}

@media screen and (max-width: 760px) {
	.page-template-template-calculo .back {
		padding-top: 50px !important;
		padding-left: 30px;
	}
	.page-template-template-calculo .contacto {
		padding-top: 20px !important;
	}
}

.wrap-single {
	padding: 30px;
	background-color: #fff;
}

@media screen and (min-width: 1024px) {
	.wrap-single {
		padding: 0;
	}
}

	.wrap-single__image {
		position: relative;
		text-align: center;
		border-bottom: 15px solid #fafafa;
	}
		.wrap-single__image img {
			max-width: 625px;
			margin-left: auto;
			margin-right: auto;
		}
		.wrap-single__image p {
			margin: 0;
		}
		.wrap-single__image iframe {
			display: block;
			width: 100%;
			height: 550px;
			border: 0;
		}

	.wrap-single__image--brand {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
	.wrap-single__image--brand img {
		width: 80px;
	}

	.wrap-single__image-bac {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}

	.wrap-single__content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
		.wrap-single__content h1 {
			display: flex;
		    align-items: center;
		    flex-direction: column;
			font-size: 24px;
			color: #E4002B;
			font-weight: 500;
			padding-right: 70px;
		}
			.wrap-single__content h1 img {
				max-width: 70px;
				margin-right: 20px;
			}

		@media screen and (max-width: 1024px) {
			.wrap-single__content h1 {
				align-items: center;
				padding: 0;
			}
		}
		@media screen and (min-width: 1024px) {
			.wrap-single__content h1 {
				flex-direction: row;
				font-size: 44px;
			    line-height: 48px;
			    padding-right: 20px;
			}
		}

		.wrap-single__content .texts {
			position: relative;
			width: 540px;
			padding-left: 20px;
			padding-right: 15px;
			padding-top: 70px;
			padding-bottom: 30px;
		}

		@media screen and (min-width: 1024px) {
			.wrap-single__content .texts {
				padding-left: 60px;
			}
		}
			.wrap-single__content ul {
				margin-left: 0;
				padding-left: 25px;
			}
			.wrap-single__content ul li {
				margin-bottom: 5px;
				color: #010101;
				font-size: 14px;
			}
			.wrap-single__content .texts .back {
				position: absolute;
				top: 50px;
				left: 60px;
			}
			@media screen and (max-width: 1024px) {
				.wrap-single__content .texts .back {
					top: 50px;
					left: 0;
				}
				.wrap-single__content h1 img {
					margin-left: auto;
					margin-right: auto;
				}
			}

			.wrap-single__content .tag {
				position: relative;
				background-color: transparent;
				color: #FAFAFA;
				width: 195px;
				height: 41px;
				margin-bottom: 15px;
				padding-left: 10px;
				font-size: 13px;
				font-weight: 500;
				line-height: 41px;
				text-align: left;
				background-image: url('https://expo.baccredomatic.com/wp-content/uploads/2019/06/bg-promo-detail.png');
				background-repeat: no-repeat;
				background-position: left center;
				-webkit-background-size: contain;
				background-size: contain;
				text-transform: uppercase;
				letter-spacing: 2px;
			}

			hr {
				background-color: #E4002B;
			}

			.wrap-single__content .restriction {
				font-size: 16px;
				color: #9B9B9B;
			}

			.wrap-single__content .options {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 20px;
			}

			.wrap-single__content .options .cta {
				margin-left: 5px;
				margin-right: 5px;
			}

			@media screen and (max-width: 760px) {
				.wrap-single__content .options {
					flex-wrap: wrap;
				    flex-direction: column;
				}

				.wrap-single__content .options .cta {
					margin-top: 20px;
				}
			}

	.wrap-single__content .side {
		width: 245px;
	}
		.side .side__top {
			background-color: #585757;
			padding: 20px;
		}

		.side .side__top-group {
			text-align: center;
		}

		.side .side__top-group span {
			display: block;
			padding-bottom: 8px;
			color: #D1D1D1;
		}

		.side .side__top-group h3 {
			margin: 0;
			color: #FFFFFF;
			font-weight: 500;
		}

		.side .side__top-group small {
			color: #FFFFFF;
			font-size: 12px;
		}

		.wp-image-477,
		.wp-image-598 {
			padding-top: 5vh;
		}

@media screen and (min-width: 1024px) {
	.site__top-buttons .cta {
		margin-bottom: 20px !important;
	    margin-top: 10px !important;
	}
	.wp-image-477,
	.wp-image-598 {
		padding-top: 25vh;
	}
}

@media screen and (max-width: 1024px) {
	.wrap-single__content {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.wrap-single__content .texts,
	.wrap-single__content .side {
		width: 100%;
	}

	.wrap-single__content .texts {
		margin-bottom: 30px;
	}

	.side .side__top-group,
	.site__top-buttons {
		max-width: 245px;
		margin-left: auto;
		margin-right: auto;
	}

	.wrap-single__content .side {
		display: flex;
	}

	.side .side__top {
		width: calc(100% - 245px);
	}
}

@media screen and (max-width: 760px) {

	.single .site-main {
		padding-bottom: 30px;
	}

	.wrap-single__content h1 {
		font-size: 26px;
	}

	.wrap-single__image img {
		width: 100%;
		max-width: 100%;
	}

	.wrap-single__content .texts {
		padding-left: 0;
		padding-right: 0;
	}

	.side .side__top-group,
	.site__top-buttons {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.wrap-single__content .side {
		display: flex;
		flex-direction: column;
	}

	.side .side__top {
		width: 100%;
	}

	.wrap-single__image--brand img {
		max-width: 50px;
	}
}


.tabs {
  display: grid;
}

[role="tablist"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[role="tabpanel"] {
  background: #FFFFFF;
  padding: 0;
}

.btn-tabs {
	display: inline-block;
	padding: 0;
	height: 62px;
	margin-left: 15px;
	margin-right: 15px;
	background: #fff;
	border: 0;
	color: #4A4A4A;
	cursor: pointer;
	font-size: 15px;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	text-transform: uppercase;
	font-family: 'Fira Sans', sans-serif;
}

.btn-tabs[aria-selected="true"] {
  background: #FFFFFF;
  color: #EB0029;
  border-bottom: 1px solid #EB0029;
  font-weight: bold;
}

.btn-tabs:focus {
  outline: none;
}





/* Promo */



.promo-wrap {
	position: relative;
	padding-bottom: 100px;
	padding: 0 20px;
}
	@media screen and (max-width: 1024px) {
		.promo-wrap {
			margin-bottom: 50px;
		}
	}
	@media screen and (min-width: 1024px) {
		.promo-wrap {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.promo-wrap h1 {
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 0.14px;
		line-height: 46px;
		color: #EB0029;
	}

	.promo-wrap__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: 940px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		/* margin-bottom: 50px; */
	}
		.promo-wrap__item:last-child {
			border-bottom: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.promo-wrap__item.promo-wrap__item--last {
			margin-top: 50px;
		}

	.promo-wrap__item h2 {
		margin-top: 0;
		color: #585757;
		font-size: 24px;
		/* letter-spacing: 0.79px; */
		line-height: 24px;
		font-weight: 500;
		line-height: 35px;
	}
	.promo-wrap__item h4 {
		position: relative;
		color: #585757;
		font-style: italic;
		font-weight: 500;
		margin-bottom: 0;
	}
		.promo-wrap__item h4 img {
		    position: absolute;
		    left: -50px;
		    top: -3px;
		}
	.promo-wrap__item h4 + p {
		margin-top: 0;
	}
	.promo-wrap__item h5 {
		margin-bottom: 0;
	}
	.promo-wrap__item p strong {
		font-weight: 500;
	}
	.promo-wrap__item p em {
		color: #9B9B9B;
	}

	.promo-wrap__item ul {
		list-style-type: disc !important;
		margin-left: 0;
		padding-left: 15px;
	}

	.promo-wrap__item ul li {
		font-size: 14px;
		line-height: 25px;
	}

		.promo-wrap__item ul.list-large li {
			margin-bottom: 20px;
		}
			.promo-wrap__item ul.list-large li:last-child {
				margin-bottom: 0;
			}

	.promo-wrap__desc img {
		display: inline-block;
	    vertical-align: bottom;
	}

	.promo-wrap__image img {
		display: block;
	}

	@media screen and (max-width:1024px) {
		.promo-wrap__item {
			padding-bottom: 20px;
		}
		.promo-wrap__desc {
		    padding: 10px;
		}
	}


	/* Información de promo */

	.promo-wrap__item-container {
		display: none !important;
		padding: 0 25px;
		background-color: #fff;
	}
		.promo-wrap__item-container.promo-wrap__item-container--show {
			display: flex !important;
		}

	.promo-wrap__item--descriptions {
		background-color: #fff;
		padding: 20px 40px;
	}

	@media screen and (max-width: 1024px) {
		.promo-wrap__item--descriptions {
			padding: 20px 0;
		}
	}

		.promo-wrap__item--descriptions h4 {
			position: relative;
			margin-top: 0;
			margin-bottom: 8px;
			padding-left: 50px;
			font-style: italic;
			color: #585757;
		}
		.promo-wrap__item--descriptions h4 img {
			position: absolute;
			left: 0;
			top: 0;
			display: inline-block;
		    vertical-align: bottom;
		    margin-right: 15px;
		}
		.promo-wrap__item--descriptions p {
			color: #585757;
			padding-left: 50px;
			margin-top: 0;
		}
			.promo-wrap__item--descriptions p:last-child {
				margin-bottom: 0;
			}
		.promo-wrap__item--descriptions p em {
			color: #9B9B9B;
		}
		.promo-wrap__item--descriptions h5 {
			padding-left: 50px;
			margin-top: 0;
			margin-bottom: 8px;
		}
		.promo-wrap__item--descriptions .list-large {
			margin-bottom: 0;
		}
		.wrap-group {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			padding-top: 30px;
		}
		.descriptions-group {
			display: block;
			width: 100%;
			border-top: 1px solid #EB0029;
		}
		.promo-wrap__item--link {
			position: absolute;
		    bottom: 15px;
		    right: 50px;
		    color: #EB0029 !important;
		    text-decoration: none;
		    outline: none;
		    cursor: pointer;
		}
		.promo-wrap__item--link .menos {
			display: none;
		}
		.promo-wrap__item--link.open-link .mas {
			display: none;
		}
		.promo-wrap__item--link.open-link .menos {
			display: inline-block;
		}


	@media screen and (max-width:1024px) {
		.promo-wrap__item--link {
			right: 15px;
		}
	}
	@media screen and (min-width:1024px) {
		.promo-wrap__item {
			flex-direction: row;
			align-items: stretch;
			justify-content: flex-start;
		}

		.promo-wrap__image {
			position: relative;
			width: 430px;
		}
			.promo-wrap__image img {
				position: -webkit-sticky;
				position: sticky;
				top: 0;
			}
		.promo-wrap__desc {
			width: 460px;
		    padding: 20px 50px;
		}
		.promo-wrap__item--descriptions {
			background-color: #fff;
			padding: 30px 60px;
		}
		.wrap-group .promo-wrap__item--descriptions {
			padding: 30px 10px 30px 60px;
		}
		.descriptions-group {
			width: 50%;
		}
	}




/* Page */



.page-info {
	width: 100%;
	padding: 30px;
}

.page-info h1,
.page-info h2 {
	margin: 0;
	font-weight: 500;
	font-size: 24px;
	color: #585757;
}
.page-info h2 {
	margin-bottom: 50px;
}

.page-info h3 {
	font-weight: 400;
	font-size: 16px;
	color: #585757;
}

.page-info h3 strong {
	font-weight: 500;
}

.page-info h4 {
	font-weight: 400;
	font-size: 20px;
	color: #585757;
}

.page-info p {
	color: #585757;
	font-size: 16px;
}

.page-info ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 50px;
}

@media screen and (max-width: 1290px) {
	.page-info ul {
	    margin: 0 0 0 20px;
	}
}

.page-info h3 + ul {
	list-style-type: disc;
}

.page-info ul li {
	font-size: 14px;
	color: #585757;
	line-height: 22px;
	margin-bottom: 13px;
}

.page-info ul li img {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}

.page-info h6 {
	margin-top: 0;
	color: #9b9b9b;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
}

@media screen and (max-width: 1024px) {
	.post-thumbnail {
		margin-top: 30px;
	}
}

@media screen and (min-width: 1025px) {
	.page-info {
		width: 100%;
		max-width: 430px;
		padding-top: 40px;
		padding-bottom: 80px;
		padding-right: 60px;
	}
}

@media screen and (min-width: 1200px) {
	.page-info {
		min-height: 840px;
		padding-bottom: 0;
	}

	.post-thumbnail {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
	}
		.post-thumbnail img {
			max-width: 100%;
			height: auto;
		}
}

@media screen and (min-width: 1349px) {
	.page-info {
		padding-right: 30px;
	}
}



/* Modal */



.modal {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000908;
	background-color: rgba(0,0,0,.4);
}
	.modal__content {
		position: absolute;
		top: 50% !important;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 480px;
		padding: 80px 50px 50px;
		text-align: center;
		background-color: #fff;
	}
		.modal__content h3 {
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 24px;
			color: #585757;
		}
		.modal__content span {
		    position: absolute;
		    top: 20px;
		    right: 20px;
		    display: block;
		    color: #E4002B;
		    cursor: pointer;
		    text-transform: uppercase;
		    width: 90px;
		    text-align: left;
		}
			.modal__content span span {
				display: inline-block;
			    margin-left: 10px;
			    width: auto;
			    position: relative;
			    top: 0;
			    left: 0;
			}




/* Contacto */



.contacto {
	margin: 40px 0;
	padding-top: 60px;
	padding-bottom: 50px;
	background-color: #FFF;
}
	.contacto .title-section {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.contacto__wrap {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}
		.contacto__left {
			width: 100%;
			/* width: 430px; */
		}
			.contacto__left p {
				color: #585757;
				font-size: 14px;
				text-align: center;
			}

		.contacto__right {
			width: 350px;
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 60px;
			margin-left: 60px;
			margin-top: 88px;
			border-left: 1px solid #9B9B9B;
		}
			.contacto__right p {
				margin: 0 0 16px 0;
				font-size: 14px;
				color: #585757;
			}
			.contacto__right p a {
				color: #E4002B !important;
				text-decoration: none;
			}

			.contacto__right p a {
				color: #585757 !important;
				text-decoration: none;
			}

	@media screen and (max-width: 1024px) {
		.contacto__wrap {
			flex-wrap: wrap;
			justify-content: center;
		}

		.contacto__left {
			width: 100%;
			padding-left: 30px;
			padding-right: 30px;
		}

		.contacto__right {
			padding-left: 0;
			margin-left: 0;
			margin-top: 0;
			border: 0;
			width: 100%;
			text-align: center;
		}
	}

.form {
	position: relative;
	display: flex;
	flex-wrap:  wrap;
	align-items: center;
	justify-content: space-between;
}
	.form-small {
		width: 50%;
		padding: 3px;
	}
		.form-small label {
			font-size: 13px;
		}

		.form-small label span {
			display: block;
			width: 100%;
		}

	.form-large {
		width: 100%;
		padding: 3px;
	}
		.form-large label span {
			display: block;
			width: 100%;
		}

	.form .wpcf7-text {
		width: 100%;
		border: 1px solid rgba(88, 87, 87, .5) !important;
		height: 30px;
		line-height: 30px;
		border-radius: 0;
		font-size: 14px;
		color: #585757;
		background-color: #FAFAFA;
	}
		.form .wpcf7-text.wpcf7-not-valid {
			border-color: #E4002B !important;
		}

	.form .wpcf7-textarea {
		width: 100%;
		height: 106px;
		border: 1px solid rgba(88, 87, 87, .5) !important;
		border-radius: 0;
		font-size: 14px;
		color: #585757;
		background-color: #FAFAFA;
	}

	.form .wpcf7-form-control-wrap {
		min-height: 48px;
	}

	.wpcf7-submit {
		display: block !important;
		width: 100%;
		max-width: 275px !important;
		height: 40px !important;
		margin-left: auto;
		margin-right: auto;
		color: #ffffff !important;
		font-family: "Fira Sans";
		font-weight: 400 !important;
		font-size: 14px !important;
		line-height: 40px !important;
		text-align: center !important;
		text-transform: uppercase !important;
		letter-spacing: 2px !important;
		background-color: #E4002B !important;
		text-decoration: none !important;
		border: 0 !important;
		border-radius: 0 !important;
		padding: 0 !important;
		cursor: pointer;
	}
		.wpcf7-submit:active,
		.wpcf7-submit:visited,
		.wpcf7-submit:focus {
			color: #fff !important;
		}

		.wpcf7-submit:hover {
			color: #fff !important;
		}

	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
		font-size: 14px;
		color: #585757;
		border-color: #E4002B !important;
	}

	span.wpcf7-not-valid-tip {
		color: #E4002B !important;
		font-size: 12px;
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #d0cdcd;
	  opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: #d0cdcd;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
	  color: #d0cdcd;
	}

select {
	display: block;
	width: 100%;
	max-width: 300px;
}

.resultado p strong {
	display: inline-block;
	width: 150px;
}

.contacto__form {
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}


@media screen and (max-width: 760px) {
	.form {
		padding-left: 20px;
		padding-right: 20px;
	}
	.resultado {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width: 560px) {
	.form {
		padding-left: 0;
		padding-right: 0;
	}
}




/* Slick */



.slide-cars {
	margin: 0;
	padding: 0;
}

.slick-dots {
	bottom: -25px;
}

.slick-dots li {
	width: 10px;
    height: 10px;
    margin: 0 5px;
}

.slick-dots li button {
	width: 10px;
	height: 10px;
}

.slick-dots li button::before {
	font-size: 11px;
	line-height: 11px;
	width: 10px;
    height: 10px;
}

.slick-slide {
	outline: none;
}

/* .slick-dots li button::before {
	background: rgba(235, 0, 41,.7);
}

.slick-dots li.slick-active button::before {
	background: rgb(235, 0, 41);
} */




/* Footer */



.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #E4002B;
	/* background-image: url(https://expo.baccredomatic.com/wp-content/uploads/2019/06/bg-footer.jpg); */
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.footer__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 73px;
}

@media screen and (max-width: 1024px) {
	.footer__wrap {
		padding: 0 30px;
	}
}

.copy {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	line-height: 16px;
}
.by img,
.by a {
	display: block;
}

@media screen and (max-width: 760px) {
	.footer__wrap {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 30px;
	    height: 93px;
	}

	.copy {
	    padding-bottom: 10px;
	}
}



.hide{
	display: none;
}





/* NO PRINT SECTIONS */
@media only print {
    .no-print, .no-print *
    {
        display: none !important;
    }

    .wrap-single__image-bac {
    	display: block !important;
    }

    .wrap-single {
    	max-width: 940px;
	}

	.single .site-main{
		padding: 0;
	}

	.wrap-single__image img{
		/* max-width: 100px; */
	}

	html,
	body,
	.single .site-main {
		background-color: #fff;
	}
}

.opa-train-navigation {
	display:none !important;
}

#opa-container .opa-interview-controls>div>.opa-container-horizontal>div:nth-of-type(1) {
	padding-left: 0 !important;
}

@media scren and (min-width: 1024px) {
	#opa-container .opa-container-horizontal > .opa-control-item {
	    flex-basis: 33.333% !important;
	    -webkit-flex-basis: 33.333% !important;
	}
}














/*------------------------------------*\
    $FILTER-PRICE
\*------------------------------------*/






.filter-price {
	width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #ffffff;
}

.filter-price h6 {
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(#fff,.5);
	text-transform: uppercase;
	color: #fff  ;
	font-size: 12px;
}

.price-title {
	position: relative;
	color: #fff;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 400;
}

.price-field input[type=range] {
    position: absolute;
}

/* Reset style for input range */

.price-field input[type=range] {
	width: 160px;
	/* width: 170px; */
	height: 2px;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	border-radius: 5px;
	pointer-events: none;
	-webkit-appearance: none;
}

.price-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
	outline: 0;
}

.price-field input[type=range]::-ms-track {
	width: 188px;
	height: 2px;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	border-radius: 5px;
	pointer-events: none;
	background: transparent;
	border-color: transparent;
	color: transparent;
	border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type=range]::-webkit-slider-thumb {
  /* WebKit/Blink */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -4px;
    background-color: #E4002B;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-field input[type=range]::-moz-range-thumb {
  /* Firefox */
	position: relative;
	appearance: none;
	margin: 0;
	border: 0;
	outline: 0;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin-top: -5px;
	background-color: #fff;
	cursor: pointer;
	cursor: pointer;
	pointer-events: all;
	z-index: 100;
}

.price-field input[type=range]::-ms-thumb  {
	/* IE */
	position: relative;
	appearance: none;
	margin: 0;
	border: 0;
	outline: 0;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin-top: -5px;
	background-color: #fff;
	cursor: pointer;
	cursor: pointer;
	pointer-events: all;
	z-index: 100;
}

/* Style track input range */

.price-field input[type=range]::-webkit-slider-runnable-track {
	/* WebKit/Blink */
	width: 188px;
	height: 2px;
	cursor: pointer;
	background: #E4002B;
	border-radius: 5px;
}

.price-field input[type=range]::-moz-range-track {
	/* Firefox */
	width: 188px;
	height: 2px;
	cursor: pointer;
	background: #fff;
	border-radius: 5px;
}

.price-field input[type=range]::-ms-track {
	/* IE */
	width: 188px;
	height: 2px;
	cursor: pointer;
	background: #fff;
	border-radius: 5px;
}

/* Style for input value block */

.price-wrap {
	display: inline-block;
    justify-content: center;
    font-size: 15px;
    line-height: 0;
    margin-bottom: 0px;
    width: 60px;
    height: 32px;
    border: 0;
    /* border-bottom: 1px solid rgb(88, 87, 87); */
    width: 60px;
    height: 32px;
    outline: none;
    border-radius: 0;
    font-size: 13px;
    text-align: center;
}

.price-wrap-1,
.price-wrap-2 {
	display: flex;

	/* label {
		font-family: $libreBaskerville-regular;
		color: $white;
	} */
}

.price-title {
	margin-right: 5px;
	background: #d58e32;
}

.price-wrap_line {
	margin: 0 10px;
}

.price-wrap #one,
.price-wrap #two {
	width: 60px;
    padding: 0;
    margin-right: 0;
    background: 0;
    border: 0;
    outline: 0;
    color: #666;
    font-size: 13px;
    text-align: center;
}

.price-wrap label {
	text-align: right;
}

/* Style for active state input */

.price-field input[type=range]:hover::-webkit-slider-thumb {
	box-shadow: 0 0 0 0.5px #fff;
	transition-duration: 0.3s;
}

.price-field input[type=range]:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 0.5px #fff;
	transition-duration: 0.3s;

}












/*
*
* 		LOADER
*
*/

.spiner-for-search{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding-bottom: 75px;
}


.cssload-container {
	width: 100%;
	height: 49px;
	text-align: center;
}

.cssload-zenith {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	border-radius: 50%;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	box-shadow: 3px 3px 1px #E4002B;
	animation: cssload-spin 690ms infinite linear;
		-o-animation: cssload-spin 690ms infinite linear;
		-ms-animation: cssload-spin 690ms infinite linear;
		-webkit-animation: cssload-spin 690ms infinite linear;
		-moz-animation: cssload-spin 690ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

.content-btn-float{
	position: fixed;
	/* right: 0;
	top: 45%; */
	right: 15px;
    bottom: 0px;
	z-index: 10;
	transform-origin: left;
    /* transform: translate(50%, 0%) rotate(-90deg) ; */
}

.content-btn-float.test-drive {
    right: 185px;
}

.btn-float{
	color: white !important;
    background-color: #E4002B;
    font-size: 16px;
    padding: 3px 5px;
    text-decoration: none;
    position: relative;
    /* bottom: -48px; */
	transition: 0.3s;
	padding-bottom: 20px;
}

.content-btn-float.test-drive .btn-float{
	background-color: #585757;
}

.btn-float:hover{
	bottom: 15px;
}

@media screen and (max-width: 760px) {
	.content-btn-float{
		bottom: 0px;
		right: 10px;
	}
}

.filter-promo{
	padding-top: 30px;
}

.filter-promo img{
	padding: 0px 10px;
	width: 100%;
	display: block;
	padding-bottom: 50px;
}
@media screen and (min-width: 1024px){
	.filter-promo img.small {
		display: none;
	}
}
@media screen and (max-width: 1024px){
	.filter-promo img.large {
		display: none;
	}
}

.filter-pickup{
	padding-top: 30px;
}

.filter-pickup img{
	padding: 0px 10px;
	width: 100%;
	display: block;
	padding-bottom: 50px;
}

@media screen and (min-width: 1024px){
	.filter-pickup img.small {
		display: none;
	}
}
@media screen and (max-width: 1024px){
	.filter-pickup img.large {
		display: none;
	}
}
