@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?erq4jn');
  src:  url('fonts/icomoon.eot?erq4jn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?erq4jn') format('truetype'),
    url('fonts/icomoon.woff?erq4jn') format('woff'),
    url('fonts/icomoon.svg?erq4jn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-timon:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-cross:before {
  content: "\ea0f";
}
